body{
    background:url('../assets/img/background.jpg');
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:inherit;
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

.form-control-form {
    display: block;
    width: 100%;
    height: 54px;
    padding: 15px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: 3px;
}   

.btn-lgin
{
	display: inline-block;
	padding: 18px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #eee;
	border-radius: 0px;
	width: 100%;
	margin-top: 10px;
	color:#fff;
}
.navbar .nav-custom{
    padding: 0px 20px;
}

.bg-custom{
    //box-shadow:0 4px 5px -3px #ececec;
    background-color: #002332;
}

.main-section{
    color: white;
    background-color: inherit;
    font-size: 200%;
}

.hero-section{
    background-color:inherit;
    text-align: center;
    height:100vh;
}

.hero-section .section-text{
    vertical-align: middle;

}

.custom-color{
    background-color:forestgreen;
    border:0px;
}




/* Portfolio/Projects
---------------------------------*/

.portfolio{
    background-color: white;
    height:950px;
    padding:50px;
    text-align:center;
}

.portfolio .header-text{
    padding-bottom: 50px;
}

.portfolio .header-text h6{
    color:grey;
}

.Portfolio-box{
	text-align:center;
	margin-bottom:20px;
	height:350px;
	width:350px;
	overflow:hidden;
	float:left;
	padding:0;
    margin-right: 10px;
    margin-left: 10px;
}
.Portfolio-box img{
	margin-bottom:15px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;	
}

.Portfolio-box img:hover {
	opacity: 0.6;
}


/* Clients
---------------------------------*/
.client-part{
	background:url(img/section-bg1.jpg) center center no-repeat;
	background-size:cover;
	padding:55px 0;
	text-align:center;
}

.client-part-haead{
	color:#fdfdfd;
	font-size:28px;
	line-height:41px;
	margin:30px 0 10px;
	font-family: ''Open Sans',sans-serif';
	font-style: italic;
}
.client{
	padding:0;
	margin:20px 0 0;
	list-style:none;
	text-align:center;
}
.client li{
	display:inline;
	margin:0 15px;
}
.client li a{
	display:inline-block;
}
.client li a img{
	margin-bottom:15px;
	border-radius:50%;
}
.client li a:hover{
	text-decoration:none;
}
.client li a h4{
	color:#ffffff;
}
.client li a h6{
	color:#f1f1f1;
}



.c-logo-part{
	background:#2AB573;
	padding:25px 0;
    filter: alpha(opacity=60);
}
.c-logo-part ul{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}
.c-logo-part ul li{
	display:inline;
	margin:0 25px;
}
.c-logo-part ul a{
	display:inline-block;
	margin: 0 20px;
}



/* Team
---------------------------------*/
.team{
    text-align: center;
	padding:85px 0;
    background-color:white;
    color:black;
}
.team h6,.team span,.team p{
	margin-bottom:40px;
    color:grey;
}

.team-leader-block{
	max-width:993px;
	margin:0 auto;
}
.team-leader-box{
	width:30.66%;
	margin-right: 3.82979%;
	height: 490px;
	overflow: hidden;
	text-align: center;
	float: left;
}
.team-leader-box span{
	margin-bottom:24px;
	display:block;
}
.team-leader-box:nth-of-type(3n+0){ margin:0;}
.team-leader{
	width:auto;
	height:auto;
	position:relative;
	border-radius:50%;
	box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
	margin:7px 7px 25px 7px;
	
}

.team-leader img{
	display:block;
	border-radius:50%;
}



.footer{
	background-color: #002332;
	padding:35px 0 35px;
}


img{
    padding:0px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

